/node_modules
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
totalsubastas_codigoadsi.pem
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.rar
/.idea
/.vscode

