/node_modules
/public/storage
/public/1
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.rar
/.idea
/.vscode
*.pem
/database/seeds/ActivoSeeder.php
