.redondo-0{
    border-radius: 0%;
}
.redondo-5{
    border-radius: 5%;
}
.redondo-10{
    border-radius: 10%;
}
.redondo-15{
    border-radius: 15%;
}
.redondo-20{
    border-radius: 20%;
}
.redondo-25{
    border-radius: 25%;
}
.redondo-30{
    border-radius: 30%;
}
.redondo-35{
    border-radius: 35%;
}
.redondo-40{
    border-radius: 40%;
}
.redondo-45{
    border-radius: 45%;
}
.redondo-50{
    border-radius: 50%;
}
.redondo-55{
    border-radius: 55%;
}
.redondo-60{
    border-radius: 60%;
}
.redondo-65{
    border-radius: 65%;
}
.redondo-70{
    border-radius: 70%;
}
.redondo-75{
    border-radius: 75%;
}
.redondo-80{
    border-radius: 80%;
}
.redondo-85{
    border-radius: 85%;
}
.redondo-90{
    border-radius: 90%;
}
.redondo-95{
    border-radius: 95%;
}
.redondo-100{
    border-radius: 100%;
}
.redondo-px-0
{
    border-radius: 0px;
}

.redondo-px-5
{
    border-radius: 5px;
}

.redondo-px-10
{
    border-radius: 10px;
}

.redondo-px-15
{
    border-radius: 15px;
}

.redondo-px-20
{
    border-radius: 20px;
}

.redondo-px-25
{
    border-radius: 25px;
}

.redondo-px-30
{
    border-radius: 30px;
}

.redondo-px-35
{
    border-radius: 35px;
}

.redondo-px-40
{
    border-radius: 40px;
}

.redondo-px-45
{
    border-radius: 45px;
}

.redondo-px-50
{
    border-radius: 50px;
}


