.alto-0{
    height: 0%;
}
.alto-5{
    height: 5%;
}
.alto-10{
    height: 10%;
}
.alto-15{
    height: 15%;
}
.alto-20{
    height: 20%;
}
.alto-25{
    height: 25%;
}
.alto-30{
    height: 30%;
}
.alto-35{
    height: 35%;
}
.alto-40{
    height: 40%;
}
.alto-45{
    height: 45%;
}
.alto-50{
    height: 50%;
}
.alto-55{
    height: 55%;
}
.alto-60{
    height: 60%;
}
.alto-65{
    height: 65%;
}
.alto-70{
    height: 70%;
}
.alto-75{
    height: 75%;
}
.alto-80{
    height: 80%;
}
.alto-85{
    height: 85%;
}
.alto-90{
    height: 90%;
}
.alto-95{
    height: 95%;
}
.alto-100{
    height: 100%;
}

.ancho-0{
    width: 0%;
}
.ancho-5{
    width: 5%;
}
.ancho-10{
    width: 10%;
}
.ancho-15{
    width: 15%;
}
.ancho-20{
    width: 20%;
}
.ancho-25{
    width: 25%;
}
.ancho-30{
    width: 30%;
}
.ancho-35{
    width: 35%;
}
.ancho-40{
    width: 40%;
}
.ancho-45{
    width: 45%;
}
.ancho-50{
    width: 50%;
}
.ancho-55{
    width: 55%;
}
.ancho-60{
    width: 60%;
}
.ancho-65{
    width: 65%;
}
.ancho-70{
    width: 70%;
}
.ancho-75{
    width: 75%;
}
.ancho-80{
    width: 80%;
}
.ancho-85{
    width: 85%;
}
.ancho-90{
    width: 90%;
}
.ancho-95{
    width: 95%;
}
.ancho-100{
    width: 100%;
}
