	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/10/2017 05:01
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}

.flaticon-diamond-1:before { content: "\f100"; }
.flaticon-web:before { content: "\f101"; }
.flaticon-technology-2:before { content: "\f102"; }
.flaticon-signs-1:before { content: "\f103"; }
.flaticon-connection-1:before { content: "\f104"; }
.flaticon-folder:before { content: "\f105"; }
.flaticon-interface-2:before { content: "\f106"; }
.flaticon-technology-1:before { content: "\f107"; }
.flaticon-time:before { content: "\f108"; }
.flaticon-medical:before { content: "\f109"; }
.flaticon-message:before { content: "\f10a"; }
.flaticon-share-1:before { content: "\f10b"; }
.flaticon-settings-3:before { content: "\f10c"; }
.flaticon-route:before { content: "\f10d"; }
.flaticon-placeholder-3:before { content: "\f10e"; }
.flaticon-play-button-2:before { content: "\f10f"; }
.flaticon-success:before { content: "\f110"; }
.flaticon-search:before { content: "\f111"; }
.flaticon-user-10:before { content: "\f112"; }
.flaticon-pie-chart-2:before { content: "\f113"; }
.flaticon-megaphone:before { content: "\f114"; }
.flaticon-stumbleupon:before { content: "\f115"; }
.flaticon-vine:before { content: "\f116"; }
.flaticon-soundcloud:before { content: "\f117"; }
.flaticon-paypal:before { content: "\f118"; }
.flaticon-dribbble:before { content: "\f119"; }
.flaticon-yahoo:before { content: "\f11a"; }
.flaticon-yelp:before { content: "\f11b"; }
.flaticon-tumblr:before { content: "\f11c"; }
.flaticon-vimeo:before { content: "\f11d"; }
.flaticon-dropbox:before { content: "\f11e"; }
.flaticon-wordpress:before { content: "\f11f"; }
.flaticon-google-drive:before { content: "\f120"; }
.flaticon-google-chrome:before { content: "\f121"; }
.flaticon-viber:before { content: "\f122"; }
.flaticon-skype:before { content: "\f123"; }
.flaticon-android:before { content: "\f124"; }
.flaticon-pinterest:before { content: "\f125"; }
.flaticon-share:before { content: "\f126"; }
.flaticon-users:before { content: "\f127"; }
.flaticon-monitoring:before { content: "\f128"; }
.flaticon-light-bulb:before { content: "\f129"; }
.flaticon-rocket:before { content: "\f12a"; }
.flaticon-support:before { content: "\f12b"; }
.flaticon-money-bag:before { content: "\f12c"; }
.flaticon-chronometer:before { content: "\f12d"; }
.flaticon-competition:before { content: "\f12e"; }
.flaticon-analysis:before { content: "\f12f"; }
.flaticon-target-1:before { content: "\f130"; }
.flaticon-vector-1:before { content: "\f131"; }
.flaticon-idea-1:before { content: "\f132"; }
.flaticon-vector:before { content: "\f133"; }
.flaticon-hammer:before { content: "\f134"; }
.flaticon-cogwheel-2:before { content: "\f135"; }
.flaticon-wrench:before { content: "\f136"; }
.flaticon-circular-saw:before { content: "\f137"; }
.flaticon-roller:before { content: "\f138"; }
.flaticon-screw:before { content: "\f139"; }
.flaticon-driller:before { content: "\f13a"; }
.flaticon-bulldozer-1:before { content: "\f13b"; }
.flaticon-traffic-cone:before { content: "\f13c"; }
.flaticon-truck:before { content: "\f13d"; }
.flaticon-worker:before { content: "\f13e"; }
.flaticon-bulldozer:before { content: "\f13f"; }
.flaticon-chainsaw:before { content: "\f140"; }
.flaticon-crane:before { content: "\f141"; }
.flaticon-skyline:before { content: "\f142"; }
.flaticon-engineer:before { content: "\f143"; }
.flaticon-bar-chart-1:before { content: "\f144"; }
.flaticon-shapes:before { content: "\f145"; }
.flaticon-user-1:before { content: "\f146"; }
.flaticon-mouse-cursor:before { content: "\f147"; }
.flaticon-telephone-receiver:before { content: "\f148"; }
.flaticon-little-smartphone:before { content: "\f149"; }
.flaticon-user:before { content: "\f14a"; }
.flaticon-big-eject-symbol:before { content: "\f14b"; }
.flaticon-calendar:before { content: "\f14c"; }
.flaticon-big-cogwheel:before { content: "\f14d"; }
.flaticon-idea:before { content: "\f14e"; }
.flaticon-hand-shake:before { content: "\f14f"; }
.flaticon-bars:before { content: "\f150"; }
.flaticon-round:before { content: "\f151"; }
.flaticon-folder-open:before { content: "\f152"; }
.flaticon-big-eye:before { content: "\f153"; }
.flaticon-heart:before { content: "\f154"; }
.flaticon-camera-flash:before { content: "\f155"; }
.flaticon-circle:before { content: "\f156"; }
.flaticon-coffee-cup:before { content: "\f157"; }
.flaticon-interface-1:before { content: "\f158"; }
.flaticon-sharing:before { content: "\f159"; }
.flaticon-loss:before { content: "\f15a"; }
.flaticon-diamond:before { content: "\f15b"; }
.flaticon-play-symbol:before { content: "\f15c"; }
.flaticon-wifi-signal-full:before { content: "\f15d"; }
.flaticon-telephone-call:before { content: "\f15e"; }
.flaticon-big-avatar:before { content: "\f15f"; }
.flaticon-folded-map:before { content: "\f160"; }
.flaticon-ascendant-line-graphic:before { content: "\f161"; }
.flaticon-cogwheel:before { content: "\f162"; }
.flaticon-amplified-speaker:before { content: "\f163"; }
.flaticon-trophy:before { content: "\f164"; }
.flaticon-square:before { content: "\f165"; }
.flaticon-play-button-1:before { content: "\f166"; }
.flaticon-headphones:before { content: "\f167"; }
.flaticon-layers:before { content: "\f168"; }
.flaticon-friend-request:before { content: "\f169"; }
.flaticon-two-chat-balloons:before { content: "\f16a"; }
.flaticon-map-pin:before { content: "\f16b"; }
.flaticon-stopwatch:before { content: "\f16c"; }
.flaticon-smartphone-1:before { content: "\f16d"; }
.flaticon-smartphone:before { content: "\f16e"; }
.flaticon-placeholder-2:before { content: "\f16f"; }
.flaticon-linkedin:before { content: "\f170"; }
.flaticon-youtube:before { content: "\f171"; }
.flaticon-twitter:before { content: "\f172"; }
.flaticon-line-chart:before { content: "\f173"; }
.flaticon-photo:before { content: "\f174"; }
.flaticon-interface:before { content: "\f175"; }
.flaticon-pie-chart:before { content: "\f176"; }
.flaticon-rich:before { content: "\f177"; }
.flaticon-music:before { content: "\f178"; }
.flaticon-play-button:before { content: "\f179"; }
.flaticon-wifi:before { content: "\f17a"; }
.flaticon-technology:before { content: "\f17b"; }
.flaticon-placeholder-1:before { content: "\f17c"; }
.flaticon-bar-chart:before { content: "\f17d"; }
.flaticon-placeholder:before { content: "\f17e"; }
