@import "fonts/stylesheet.css";
@import "./fontawesome.css";
@import "./brands.css";
@import "./solid.css";
/* Var root */
:root {
  --var-to_buy: #3dc47e;
  --var-to_auction: #8f79d4;
  --var-primary: #4592ff;
  --var-light-text: #ffffff;
  --var-social-network: #bcbfc2;
  --var-lighthen-gray: #bcbfc2;
  --var-social-network-text: #d9dadb;
  --var-lighthen-gray-text: #d9dadb;
  --var-ligthen-gray: #d9dadb;
  --var-nav-top: #ffffff;
  --var-whatsapp: #3dc47e;
  --var-carousel-text: #656b70;
  --var-data-shett_files-text: #c1f4f5;
  --var-night-dark: #30363d;
  --var-darken: #4b5157;
  --var-darken-flat: #939699;
  --var-darken_light: #edeff0;
  --var-dark: #262d33;
  --var-ligthen: #d9dadb;
  --var-footer: #f5f5f5;
  --var-bg-light-card: #f5f5f5;
  --var-badge-sea: #c5e4fc;
  --var-light-gray: var(--var-lighthen-gray);
  --var-badge-sea_text: #55839e;
  --var-to_aution-on-ranking: #1dab5f;
  --var-carousel-item: #ffd980;
  --var-progress-bar: var(--var-carousel-item);
}
/* Body  */
body {
  font-family: "Graphik";
}
/* Footer  */
footer {
  width: 100%;
  height: auto;
  background-color: var(--var-footer);
}

/* Nav  */
.navbar {
  width: 100%;
}
.navbar a:hover {
  text-decoration: none;
}
/* #Navbar custom */
.navbar-dark .navbar-brand {
  color: var(--var-nav-top);
  font-size: small;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-top {
  background-color: var(--var-nav-top);
  color: var(--var-dark);
  height: 113px;
}
.navbar-top a {
  margin: 0 auto;
  font-size: medium;
  padding-left: 65px;
  color: var(--var-nav-top);
  font-size: small;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-top-content {
  background-color: var(--var-nav-top);
  border-radius: 10px;
}
.nav-content_text {
  color: var(--var-lighthen-gray);
}
.nav-footer {
  font-family: "Graphik";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 0.5px solid var(--var-lighten);
}
.nav-footer a {
  color: var(--var-darken);
  font-size: 14px;
  font-family: "Graphik";
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
/* nav main content */
.nav-top_main-content {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.nav-top_main-content a {
  font-size: 20px;
  font-family: "Graphik";
  font-weight: 700;
  color: var(--var-dark);
}
.bg-nav {
  background-color: var(--var-dark);
}
.title-light_darken {
  font-size: 20px;
  font-family: "Graphik";
  font-weight: 400;
}
.jumbotron-bottom_container {
  width: 100%;
  padding: 130px;
  /*background-image: url(../img/image-216.png);*/
  background-size: cover;
  background-position: center;
  background-color: #40303d87;
}
.auction-jumbotron {
  height: 114px;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}
.jumb-title_count-bottom {
  font-size: 12px;
  font-family: "Graphik";
  color: lightgray;
}
.jumbotron-bottom_container button {
}
.nav-auction_bottom {
  border: 0px;
  padding-left: 37px;
}
.nav-auction_bottom .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-top: 6px solid var(--primary);
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
/* Chevron on Small size */
.auction-chevron_right {
  position: absolute;
  right: 0;
}
.auction-chevron_left {
  position: absolute;
  margin-right: 49px;
  left: 0;
}
.tabs-auction_bottom {
  border-radius: 10px;
}
.text-tabs_auction-bottom {
  font-weight: 600;
}
.auction-content_tab {
  border-radius: 15px;
}
.text-auction_live {
  font-size: 14px;
  font-family: "Graphik";
}
.car-side-nav_title {
  font-family: "Graphik";
  color: var(--var-dark);
  text-align: left;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #262d33;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
}
.ranking-side_nav-auction {
  padding: 8px;
}
.jumbotron-top_container {
  background-color: var(--var-darken);
  background-size: cover;
  background-repeat: no-repeat;
  height: 349px;
  width: 100%;
}
.jumbotron-top_container h1 {
  font-size: 55px;
  font-family: "Graphik";
}
.jumbotron-top_container p {
  font-size: 18px;
}
.signin-text {
  font-weight: 700;
}
.main-container {
  background-color: var(--var-nav-top);
  border-radius: 10px;
}
.side-nav img {
  border-radius: 10px;
}
.side-nav {
  border-radius: 10px;
}
.side-nav-br_50 {
  width: 90px;
  margin-top: 35px;
  height: 90px;
  border-radius: 50%;
}
.side-nav_title-card {
  font-size: 20px;
  font-family: "Graphik";
  text-transform: uppercase;
  color: var(--var-dark);
}
.card.side-nav a {
  text-decoration: none;
}
.card-side-nav_title {
  font-size: 14px;
  color: var(--var-dark);
  font-weight: 600;
  text-transform: uppercase;
}
.card-side_faqs {
  font-size: 20px;
  color: var(--var-dark);
  font-weight: 700;
  text-transform: capitalize;
}
.text-nav_faqs {
  font-size: 14px;
  font-family: "Graphik";
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
}
.topics {
  height: 622px;
}
.car-side-nav_header {
  background-color: #ffffff;
}
.car-side-nav_bp {
  font-size: 14px;
  font-family: "Graphik";
  color: var(--var-darken);
  font-weight: 400;
  text-transform: Capitalize;
}
.car-side-nav_bp-span {
  font-size: 12px;
  font-family: "Graphik";
  color: var(--var-darken-flat);
  font-weight: 300;
  text-transform: capitalize;
}
article.p-side_nav {
  text-align: center;
  margin-top: 102px;
  margin-left: 50px;
  position: absolute;
  font-family: "Graphik";
}
article.p-side_nav h2 {
  font-size: 55px;
  font-weight: 700;
}
.p-side_nav article p {
}
.p-side_nav article img {
}
.pub-item_cont {
  border: 0;
}
.text-fh_nav {
  font-size: 14px;
  color: var(--var-dark);
  font-weight: 500;
}
.mc-card_top {
  border-radius: 10px;
  height: 169px;
  width: 263px;
  font-family: "Graphik";
}
.mc-card_top .card-title {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  padding-left: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 0.5px solid var(--var-ligthen);
}
.mc-card_top .card-body {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mc-card_top .card-title p {
  font-size: 18px;
  margin-bottom: 0rem;
  padding-left: 0;
  padding-right: 0;
}
.card-body .sm-text_card {
  font-size: 11px;
}
.b-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.c-all_items {
  width: 100%;
  background-color: var(--var-nav-top);
}
.top-slide {
  height: 555px;
  margin: 0;
}
.carousel-indicators {
  position: absolute;
}
.top-slide .top-slide_carousel-item-a {
  position: absolute;
  margin-left: 59px;
  z-index: 1;
}
.carousel-indicators li {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.carousel-indicators_loading {
  border: 1px solid #f3f3f3; /* Light grey */
  /*  border-top: 1px solid #3498db; Blue */
  border-radius: 50%;
  /*width: 120px;*/
  height: 120px;
  animation: spin 2s linear infinite;
}
.content-dropzone {
  border: 2px dashed #707070;
}
.data_sheet-bottom_files {
  background-color: var(--var-to_buy);
  border-radius: 10px;
  /* width: 263px; */
  max-height: 170px;
  font-size: 14px;
}
.title_data-sheet_bottom {
  font-size: 16px;
  font-family: "Graphik";
  font-weight: 600;
}
.data_sheet-d a.active {
  border-right: 5px solid var(--var-primary);
}
.text-download_dsheet-auction {
  font-size: 14px;
  font-family: "Graphik";
  font-weight: 300;
  font-style: normal;
}
.title-popup {
  font-size: 20px;
  font-family: "Graphik";
  font-weight: 600;
}
.text-popup {
  color: var(--var-darken);
  font-size: 14px;
  text-align: center;
  font-family: "Graphik";
  opacity: 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .top-slide_carousel-item-b {
} */
.live-today {
  background-color: #ff4f52;
  width: 46px;
  height: 25px;
  position: absolute;
  z-index: 1;
  color: #fff;
  margin-top: 18px;
  margin-left: 18px;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
}

.top-slide article h1 {
  color: var(--var-light-text);
  font-family: "graphik";
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.top-slide article h5 {
  color: var(--var-light-text);
  opacity: 0.85;
  height: 20px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0px;
  text-shadow: 0px 3px 6px #00000029;
}
.heading-carousel_top {
  margin-left: 0em;
  display: grid;
  justify-content: center;
  zoom: 0.7;
  margin-top: 30px;
}
.heading-carousel {
}
.top-slide .logo_top-slide-sg_falabella {
  margin-top: 44px;
  margin-left: 32px;
}
.top-slide article .date_top-slide-sg_falabella {
  opacity: 0.5;
  margin-left: 30px;
}
.carousel-item_sg-fallabella {
  opacity: 0.9;
  background-color: var(--var-dark);
}
.carousel-text_item_b-top {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.5;
  color: var(--var-carousel-text);
  text-transform: uppercase;
}
.carousel-btn_text-success {
  font-size: 14px;
  font-family: "graphik";
  color: var(--var-light-text);
}
.carousel-btn-look_lote {
  /* margin-left: 4em; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 99px;
  margin-top: 25px;
}
/* img item n° 1 */
.carousel-item-a_imagen {
  opacity: 0.99;
  background: #40303d59 0% 0% no-repeat padding-box;
  width: 99.99999%;
}
.carousel-text_item_b {
  font-weight: 700;
  font-size: 25px;
  color: var(--var-dark);
}
.carousel-text_item_b-text {
  color: var(--var-darken);
  font-size: 14px;
}

#loadMore:hover {
  background-color: var(--var-lighthen-gray);
}
.text-s_gd-sheet {
  font-family: "Graphik";
  font-weight: 500;
  font-size: 12.5px;
  margin: 0;
  padding: 0;
}
.d_sheet-card {
  padding-left: 0;
  padding-right: 0;
}
.title-d_sheet-jumb {
  text-align: left;
  font-family: "Graphik";
  letter-spacing: -0.5px;
  color: var(--var-lighthen-gray);
  text-transform: uppercase;
  font-weight: 500;
  opacity: 1;
}
.title-d_sheet-sp {
  font-size: 20px;
  font-weight: 500;
  color: var(--var-dark);
  line-height: 20px;
}
.btn-outline-primary {
  border: 1px solid var(--var-primary);
}
.btn-outline-dark {
  border: 1px solid var(--var-ligthen);
}
.btn-outline-dark_b:hover {
  border: 1px solid var(--var-primary);
  background-color: #ffffff;
  color: var(--var-drken);
}
.btn-outline-light_b:hover {
  border: 1px solid var(--var-primary);
  color: var(--var-drken);
}
.btn-outline-primary:hover {
  background-color: var(--var-primary);
}
.text-doc_saga-fallabella {
  font-family: "graphik";
  font-weight: 100;
  opacity: 0.9;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 14px;
}
.text-doc_data-sheet {
  font-family: "graphik";
  font-weight: 100;
  opacity: 0.9;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--var-data-shett_files-text);
}
.badge-button_count_slide {
  font-family: "graphik";
  font-weight: 100;
}
.badge-sea {
  background-color: var(--var-badge-sea);
  border-radius: 50%;
  color: var(--var-badge-sea_text);
  font-family: "Graphik-Regular";
  font-weight: 100;
}

.thumb-active {
  border: 1px solid var(--primary);
}
.caret-play_auction-gallery ul li {
  display: flex;
  border-radius: 50%;
  border: 1px solid var(--var-social-network-text);
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.caret-play_auction-gallery ul li {
  font-size: 24px;
}
.btn-to_auction {
  background-color: var(--var-to_auction);
}
.btn-to_action-bottom {
  color: var(--var-dark);
  font-weight: 500;
  font-size: 16px;
}
.btn-to_buy {
  background-color: var(--var-to_buy);
}
.text-to_buy {
  color: var(--var-to_buy);
  text-transform: uppercase;
  font-size: 12px;
}
.title-to_annoucement {
  color: var(--var-dark);
}
.title-to_breadcrums {
  color: var(--var-dark);
  font-family: "Graphik";
  font-weight: 500;
}
.title-to_results {
  color: var(--var-light-gray);
  font-family: "Graphik";
}
.text-to_auction {
  color: var(--var-to_auction);
  text-transform: uppercase;
  font-size: 12px;
}
.btn-primary {
  background-color: var(--var-primary);
}
.social-network_footer {
  color: var(--var-social-network);
}
.rss-send_email {
  background-color: var(--var-primary);
  color: var(--var-light-text);
  border-radius: 0px 5px 5px 0px;
}
.social-network_bottom ul li {
  display: flex;
  border-radius: 50%;
  border: 1px solid var(--var-social-network-text);
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.social-network_bottom ul li a {
  color: var(--var-social-network);
}
.social-network_bottom {
  color: var(--var-social-network);
}
.copyright {
  color: var(--var-light-gray);
}
.social-network_whatsapp {
  color: var(--var-light-text);
  background-color: var(--var-whatsapp);
  border-radius: 50%;
}
.social-network_footer i {
  width: 40px;
  height: 40px;
  border: 1px solid var(--var-social-network-text);
  border-radius: 50%;
  opacity: 1;
}
/* Datasheet */
/*.data_sheet-d {
}*/
.content-d_sheet {
  height: 570px;
  overflow: scroll;
}
.r-timer_live {
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--var-dark);
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.ranking_live {
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--var-dark);
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.ranking_to-auction_text {
  font-family: "Graphik";
  font-size: 14px;
  text-transform: uppercase;
}
.text-_to-auction_bottom {
  font-family: "Graphik";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.text-to_title-auction_live {
  font-family: "Graphik";
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--var-dark);
}
.text-to_title-auction_ranking {
  font-family: "Graphik";
  font-size: 14px;
  text-transform: uppercase;
  color: var(--var-darken);
  font-weight: 600;
}
.r-timer_live::before {
  content: "\f111";
  font-family: "Font Awesome\ 5 Free";
  color: var(--var-to_buy);
  margin-right: 9px;
}
.data_sheet-live_bg-progress_bar {
  background-color: var(--var-progress-bar);
}
.badge_live {
  font-family: "Graphik";
  font-size: 20px;
}
.text-badge_live {
  text-transform: uppercase;
  font-size: 14px;
}
.live-push_auction {
  width: 525px;
  margin-right: 69px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.live-raking_auction {
  /*width: 263px;*/
  height: 366px;
  background-color: #fff;
}
.live-ranking_auction h2 {
  color: var(--var-darken);
  text-transform: uppercase;
}
.live-ranking_auction-t {
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--var-dark);
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
/*.live-push_auction-timer_bottom {
}*/
.live-push_auction-timer_bottom span {
  font-size: 14px;
  text-align: center;
  color: var(--var-darken);
  /* padding-top: 20px;
  padding-bottom: 20px; */
}
.live-push_auction article h5 {
  font-size: 14px;
}
.live-push_action-ranking {
  width: 263px;
  margin-right: 37.999px;
  background-color: #fff;
  border-radius: 10px;
}
.live-push_action-floating {
  width: 100%;
}
.live-push_auction-ranking {
  border-top: 1px solid var(--var-ligthen-gray);
}
#ranking {
  overflow: scroll;
}
.live-push_auction-timer_bottom .fa-heart {
  color: var(--var-primary);
  font-size: 24.87px;
}
.live-push_auction-timer_bottom .fa-user {
  color: #ac8ee3;
  font-size: 21.96px;
}
.oval {
  width: 260px;
  height: 260px;
  position: absolute;
  background-color: #ffeeb3;
  border-radius: 50%;
  opacity: 1;
}
.badge_btn {
  font-family: "Graphik";
  font-size: 29px;
  font-weight: 600;
  width: 246px;
  height: 52px;
}
.gavel-live {
  width: 27px;
  font-size: 27px;
  color: #ffa3ab;
  opacity: 0.89;
}
.data_sheet-d_sm-text {
  font-size: 10px;
  font-weight: 500;
  font-family: "Graphik";
}
.d-s_especificaciones {
  width: 72px;
}
.data_sheet-d .data_sheet-menu {
  border-right: 0.5px solid var(--var-ligthen);
}
.data_sheet-d a {
  color: var(--var-carousel-text);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-family: "Graphik";
  text-transform: uppercase;
}
.d-sheet_link {
  text-align: center;
  padding: 18px;
}
/* Myaccount */
.media-body .m-acc_text {
  display: flex;
}
.m-acc_text h2 {
  font-size: 14px;
  color: var(--var-dark);
  font-weight: 700;
}
.m-acc_text h5 {
  font-size: 14px;
  font-weight: 600;
  font-family: "Graphik";
  text-transform: uppercase;
  color: var(--var-dark);
}
.m-acc_text span {
  position: absolute;
  right: 0;
  margin-right: 59px;
  color: var(--var-darken);
  font: 500 14px/20px "Graphik";
}
.m-acc_text p {
  font-size: 12px;
  font-weight: 400;
  margin: 1px;
  font-family: "Graphik";
  color: var(--var-darken);
}
.m-acc_points {
  background-color: var(--var-to_buy);
  color: #fff;
  border-radius: 14px;
}
.m-acc_char {
  color: #fff;
  font-size: 25px;
  font-family: "Graphik";
  font-weight: 700;
  text-align: "center";
}
.m-acc_points-bottom {
  color: #d0f7c6;
  font-family: "Graphik";
  font-size: 14px;
}
.m-acc_points-bottom::before {
  content: "\f111";
  font-family: "Font Awesome\ 5 Free";
  color: var(--var-carousel-item);
  margin-right: 9px;
}
.m-acc_points-bottom p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
/* Register Form */
.t-rform_top h1 {
  font-family: "Graphik";
}
.t-rform_top_img {
  background-color: var(--var-dark);
  background-image: url("../img/image-083.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 14px;
  background-repeat: no-repeat;
}
.checkbox-primary {
  width: 12px;
  height: 12px;
  color: var(--var-primary);
}
.widgets article {
  display: flex;
  width: 100%;
  height: 225px;
  opacity: 0.95;
  border-radius: 10px;
  fill-opacity: initial;
}
.widgets article img {
  border-radius: 10px;
  opacity: 0.9;
  z-index: -999;
}
.widgets article button {
  position: absolute;
  right: 0;
  bottom: 0;
}
.widgets article h2 {
  position: absolute;
  color: var(--var-light-text);
  display: flex;
  font-family: "Graphik";
  font-weight: bold;
  padding-top: 37px;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
}
.widgets article p {
  position: absolute;
  color: var(--var-light-text);
  display: flex;
  font-family: "Graphik";
  font-weight: 400;
  padding-top: 99px;
  text-align: left;
  width: 65.9999999%;
  margin: 0 auto;
}
/*.widgets article h1 p {
}

.text-shadow {
}
.img-focus {
}*/

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .a {
    display: none;
  }
  .top-slide {
    display: none;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .a {
    display: none;
  }
  .top-slide {
    display: none;
  }
  .data_sheet-bottom_files {
  }
  
 
}

@media (min-width: 499px) {
  .mc-card_top {
    width: 100%;
  }
}
@media (min-width: 989px) {
}
/* */
.text-darken {
  color: var(--var-darken);
}
.text-darken-flat {
  color: var(--var-darken-flat);
}

.text-light_darken {
  color: var(--var-light-gray);
}
.text-light_dark {
  color: var(--var-lighthen-gray-tex);
}
.text-to_best-auction {
  color: var(--var-to_aution-on-ranking);
}
.bg-darken {
  background-color: var(--var-darken);
}
.bg-darken-light {
  background-color: var(--var-darken_light);
}
.bg-ligthen-gray {
  background-color: var(--var-ligthen);
}
.bg-light-card {
  width: 100%;
  height: auto;
  background-color: var(--var-bg-light-card);
}
.fa-download {
  border-radius: 0;
}
.heart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}
.close-modal {
  width: 16px;
  height: 16px;
  font-weight: 100;
  color: var(--var-lighthen-gray);
}
.heart:hover {
  background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}
