@charset "UTF-8";


/*-----------------------
    Animation
-------------------------*/
[class*='tc-animation-'] {-webkit-animation-duration: 0.5s;animation-duration: 0.5s;-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.tc-animation-fade {-webkit-animation-name: tc-fade;animation-name: tc-fade;-webkit-animation-duration: 0.8s;animation-duration: 0.8s;-webkit-animation-timing-function: linear !important;animation-timing-function: linear !important;}
.tc-animation-slide-top {-webkit-animation-name: tc-fade-top;animation-name: tc-fade-top;}
.tc-animation-slide-bottom {-webkit-animation-name: tc-fade-bottom;animation-name: tc-fade-bottom;}
.tc-animation-slide-left {-webkit-animation-name: tc-fade-left;animation-name: tc-fade-left;}
.tc-animation-slide-right {-webkit-animation-name: tc-fade-right;animation-name: tc-fade-right;}
.tc-animation-scale-up {-webkit-animation-name: tc-animation-scale-up;animation-name: tc-animation-scale-up;}
.tc-animation-scale-down {-webkit-animation-name: tc-animation-scale-down;animation-name: tc-animation-scale-down;}
.tc-animation-shake {-webkit-animation-name: tc-shake;animation-name: tc-shake;}
.tc-animation-rotate {-webkit-animation-name: tc-rotate;animation-name: tc-rotate;}
.tc-animation-scale {-webkit-animation-name: tc-scale;animation-name: tc-scale;}
.tc-animation-hover:not(:hover),
.tc-animation-hover:not(:hover) [class*='tc-animation-'] {-webkit-animation-name: none;animation-name: none;}
.tc-animation-reverse {-webkit-animation-direction: reverse;animation-direction: reverse;-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}

/*-------------------------
    Fade
---------------------------*/
@-webkit-keyframes tc-fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes tc-fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*---------------------------
    Fade Top
------------------------------*/
@-webkit-keyframes tc-fade-top {
    0% {opacity: 0;-webkit-transform: translateY(-60%);}
    100% {opacity: 1;-webkit-transform: translateY(0);}
}
@keyframes tc-fade-top {
    0% {opacity: 0;transform: translateY(-60%);}
    100% {opacity: 1;transform: translateY(0);}
}

/*---------------------------
    Fade Bottom
------------------------------*/
@-webkit-keyframes tc-fade-bottom {
    0% {opacity: 0;-webkit-transform: translateY(60%);}
    100% {opacity: 1;-webkit-transform: translateY(0);}
}
@keyframes tc-fade-bottom {
    0% {opacity: 0;transform: translateY(60%);}
    100% {opacity: 1;transform: translateY(0);}
}

/*---------------------------
    Fade Left
------------------------------*/
@-webkit-keyframes tc-fade-left {
    0% {opacity: 0;-webkit-transform: translateX(-60%);}
    100% {opacity: 1;-webkit-transform: translateX(0);}
}
@keyframes tc-fade-left {
    0% {opacity: 0;transform: translateX(-60%);}
    100% {opacity: 1;transform: translateX(0);}
}

/*---------------------------
    Fade Right
------------------------------*/
@-webkit-keyframes tc-fade-right {
    0% {opacity: 0;-webkit-transform: translateX(60%);}
    100% {opacity: 1;-webkit-transform: translateX(0);}
}
@keyframes tc-fade-right {
    0% {opacity: 0;transform: translateX(60%);}
    100% {opacity: 1;transform: translateX(0);}
}


/*------------------------------
   Scale Up
--------------------------------*/
@-webkit-keyframes tc-animation-scale-up {
    0% {opacity: 0;-webkit-transform: scale(0.2);}
    100% {opacity: 1;-webkit-transform: scale(1);}
}

@keyframes tc-animation-scale-up {
    0% {opacity: 0;transform: scale(0.2);}
    100% {opacity: 1;transform: scale(1);}
}

/*---------------------------
    Scale Down
------------------------------*/
@-webkit-keyframes tc-animation-scale-down {
  0% {opacity: 0;-webkit-transform: scale(1.6);}
  100% {opacity: 1;-webkit-transform: scale(1);}
}
@keyframes tc-animation-scale-down {
  0% {opacity: 0;transform: scale(1.6);}
  100% {opacity: 1;transform: scale(1);}
}

/*---------------------------
    Rotate
------------------------------*/
@-webkit-keyframes tc-rotate {
    0% {-webkit-transform: rotate(280deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@keyframes tc-rotate {
    0% {transform: rotate(280deg);}
    100% {transform: rotate(360deg);}
}

/*---------------------------
    Shake
------------------------------*/
@-webkit-keyframes tc-shake {
    0%,
    100% {-webkit-transform: translateX(0);}
    10% {-webkit-transform: translateX(-9px);}
    20% {-webkit-transform: translateX(8px);}
    30% {-webkit-transform: translateX(-7px);}
    40% {-webkit-transform: translateX(6px);}
    50% {-webkit-transform: translateX(-5px);}
    60% {-webkit-transform: translateX(4px);}
    70% {-webkit-transform: translateX(-3px);}
    80% {-webkit-transform: translateX(2px);}
    90% {-webkit-transform: translateX(-1px);}
}
@keyframes tc-shake {
    0%,
    100% {transform: translateX(0);}
    10% {transform: translateX(-9px);}
    20% {transform: translateX(8px);}
    30% {transform: translateX(-7px);}
    40% {transform: translateX(6px);}
    50% {transform: translateX(-5px);}
    60% {transform: translateX(4px);}
    70% {transform: translateX(-3px);}
    80% {transform: translateX(2px);}
    90% {transform: translateX(-1px);}
}

/*-------------------
    Scale
---------------------*/
@-webkit-keyframes tc-scale {
    0% {-webkit-transform: scale(1.2);}
    100% {-webkit-transform: scale(1);}
}
@keyframes tc-scale {
    0% {transform: scale(1.2);}
    100% {transform: scale(1);}
}