@charset "UTF-8";
/**
*
* -------------------------------------------------------
*
* Template : ePack - Modern Element Packages
* Author : thecodrops
* Author URI : http://thecodrops.com
*
* -------------------------------------------------------
*
*/


/*-----------------------
    Progress Bar Style1
-------------------------*/
.tc-progress-style1 {height: 30px;box-shadow: none;border-radius: 0;overflow: visible;margin-top: 20px;}
.tc-progress-style1 + .tc-progress-style1 {margin-top: 40px;}
.tc-progress-style1 .progress-bar {position: relative;text-align: left;line-height: 30px;border-radius: 0;box-shadow: none;}
.tc-progress-style1 .pb-label {position: absolute;left: 5px;top: -28px;color: #000;font-size: 14px;font-weight: 600;}
.tc-progress-style1 .pb-percent {position: absolute;right: 10px;font-weight: 500;color: #fff;font-size: 14px;line-height: 30px;}

/*-----------------------
    Progress Bar Style2
-------------------------*/
.tc-progress-style2 {height: 4px;box-shadow: none;border-radius: 0;overflow: visible;margin-top: 20px;}
.tc-progress-style2 + .tc-progress-style2 {margin-top: 40px;}
.tc-progress-style2 .progress-bar {position: relative;text-align: left;line-height: 4px;border-radius: 0;box-shadow: none;}
.tc-progress-style2 .pb-label {position: absolute;left: 0px;top: -18px;color: #000;font-size: 14px;font-weight: 600;}
.tc-progress-style2 .pb-percent {position: absolute;right: 10px;font-weight: 500;color: #444;font-size: 14px;top: -17px;}

/*-----------------------
    Progress Bar Style3
-------------------------*/
.tc-progress-style3 {height: 30px;box-shadow: none;border-radius: 0;overflow: visible;margin-top: 20px;}
.tc-progress-style3 + .tc-progress-style3 {margin-top: 40px;}
.tc-progress-style3 .progress-bar {position: relative;text-align: left;line-height: 30px;border-radius: 0;box-shadow: none;}
.tc-progress-style3 .pb-label {position: absolute;left: 0;color: #fff;font-size: 13px;font-weight: 500;padding: 0 12px;background: rgba(255, 255, 255, 0.3);}
.tc-progress-style3 .pb-percent {position: absolute;right: 10px;font-weight: 500;color: #fff;font-size: 12px;line-height: 26px;top: -10px;background: #444;padding: 0 7px;}

/*-----------------------
    Progress Bar Style4
-------------------------*/
.tc-progress-style4 {height: 40px;box-shadow: none;border-radius: 0;overflow: visible;padding: 4px;background: #fff;box-shadow: 0 10px 20px rgba(68, 68, 68, 0.05);}
.tc-progress-style4 + .tc-progress-style4 {margin-top: 30px;}
.tc-progress-style4 .progress-bar {position: relative;text-align: left;border-radius: 0;box-shadow: none;}
.tc-progress-style4 .pb-label {position: absolute;left: 0;color: #fff;font-size: 12px;font-weight: 500;padding: 0 12px;background: rgba(255, 255, 255, 0.3);top: 50%;transform: translateY(-50%);}
.tc-progress-style4 .pb-percent {position: absolute;right: 10px;font-weight: 500;color: #fff;font-size: 11px;background: rgba(255, 255, 255, 0.3);top: 50%;transform: translateY(-50%);padding: 0 5px;}

/*-----------------------
    Progress Bar Style5
-------------------------*/
.tc-progress-style5 {height: 30px;box-shadow: none;border-radius: 0;overflow: visible;margin-top: 30px;}
.tc-progress-style5 + .tc-progress-style5 {margin-top: 50px;}
.tc-progress-style5 .progress-bar {position: relative;text-align: left;border-radius: 0;box-shadow: none;}
.tc-progress-style5 .pb-label {position: absolute;left: 0px;top: -30px;color: #222;font-size: 14px;font-weight: 600;}
.tc-progress-style5 .pb-percent {position: absolute;right: 10px;font-weight: 500;color: #fff;font-size: 12px;top: -30px;background: #222;padding: 3px 6px;border-radius: 4px;}
.tc-progress-style5 .pb-percent:after {content: '';position: absolute;border: 11px solid transparent;border-right-color: #222;left: -19px;top: 50%;transform: translateY(-50%);}