<!DOCTYPE html>
<html>
<!-- head -->

<head>
  <title>Getting Started</title>
  <script src="https://unpkg.com/lodash@4.16.6"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/css/grid.css">
  <link rel="stylesheet" href="./assets/css/dropzone.css">
  <link rel="stylesheet" href="./assets/css/basic.css">
  <link rel="stylesheet" href="./assets/css/style.css">

  <!-- Dropzone -->
  <script src="./assets/js/dropzone.js"></script>
</head>
<!-- body -->

<head>
  <title>Getting Started</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://unpkg.com/lodash@4.16.6"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/css/grid.css" />
  <link rel="stylesheet" href="./assets/css/style.css" />
</head>
<!-- body -->

<body class="bg-darken-light">
  <!-- Header -->
  <header>
    <div class="navbar nav-top ">
      <div class="container flex-wrap justify-content-md-between justify-content-sm-center">

        <div class="row">
          <div class="col ">
            <a href="#" class="navbar-brand d-flex text-dark align-items-center">
              (+51) 460-2000
            </a></div>
          <div class="col mt-2">
            <a href="#" class="text-dark">
              <img src="./assets/img/Imagen 1.png" alt="">
              Chat en vivo
            </a>
          </div>
        </div>
        <div class="row ">
          <div class="col-md  mr-auto  ">
            <a href="#" class="navbar-brand d-flex text-dark align-items-center">
              <img src="./assets/img/Logo_front.png">
            </a></div>
        </div>
        <div class="row ">
          <a class="nav-link text-dark signin-text" href="./login.html">
            Ingresar</a>
          <a href="./registro.html" class="btn btn-primary rounded-pill "> <span></span><i class="fas fa-user mr-2"></i>
            Registrate </a>
        </div>
      </div>
    </div>
    <!-- Navbar header bottom -->
    <div class="navbar navbar-dark navbar-top navbar-expand-lg bg-nav">
      <div class="container">
        <a class="navbar-brand  d-flex align-items-center pl-5 mr-5" href="#"><img src="./assets/img/peru.png"
            alt="" /></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <a href="./subastas.html" class="navbar-brand d-flex align-items-center">
            Subastas
          </a>
          <a href="./FAQS.html" class="navbar-brand d-flex align-items-center">
            Preguntas
          </a>
          <a href="#" class="navbar-brand d-flex align-items-center">
            Condiciones
          </a>
          <a href="#" class="navbar-brand d-flex align-items-center">
            Quienes somos
          </a>
          <!-- Link nav - Link nr° 5- top -->
          <a href="#" class="navbar-brand d-flex align-items-center">
            Vender
          </a>
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg class="bd-placeholder-img rounded-circle" width="25" height="25" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
              aria-label="Completely round image: 75x75">
              <title>Completely round image</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="25%" y="25%" fill="#dee2e6" dy=".3em"></text>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </header>
  <!-- Grid columns slider custom-->
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron jumbotron-top_container">
        <div class="container">
          <!-- <h1 class="font-weight-bold text-light text-uppercase">
              Preguntas <br> frecuentes
          </h1>
        
          <p class="text-light text-capitalize">conoce las bases para realizar una subasta correcta!</p>
          -->
        </div>
      </div>
    </div>
  </div>
  <!-- Container -->
  <div class="container">
    <div class="row">
      <!-- main content -->
      <div class="col-md col-md-12 mt-5">
        <div class="row">
          <!--<div class="col-md-4  t-rform_top_img  d-sm-none d-lg-block">
              </div>-->
          <div class="col-md-3 order-md-1 mb-4   ">
            <div class="text-center">
              <div class="bg-light-card shadow-sm ">
                <img src="./assets/img/adobe.png" class="side-nav-br_50 mt-4" with="" alt="...">
                <div class="card-body pl-0 pr-0">
                  <h5 class="card-title font-weight-bold  side-nav_title-card">Card title</h5>
                  <p class="card-text">email@example.com</p>
                  <p>
                    <span><i class="bg-rating_star fas fa-star"></i></span>
                    <span><i class="bg-rating_star fas fa-star"></i></span>
                    <span><i class="bg-rating_star fas fa-star"></i></span>
                    <span><i class="bg-rating_star fas fa-star  "></i></span>
                    <span><i class="darken-flat fas fa-star"></i></span>
                  </p>
                  <p class="font-weight-bold text-dark">3 pts</p>
                  <hr>
                  <a href=""> editar perfil</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-12   order-md-2 col-xs-12 t-rform_top main-container p-5">
            <h2 class=" font-weight-bold text-dark pb-5 text-center">
              Customer information
            </h2>
            <form>
              <div class="form-row">
                <div class="form-group col-md-4 col-sm-12">
                  <label for="name" class="font-weight-bold text-dark">Nombres</label>
                  <input type="text" name="name" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-4">
                  <label for="name" class="font-weight-bold text-dark">Apellidos</label>
                  <input type="text" name="name" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-4">
                  <label for="name" class="font-weight-bold text-dark">Celular</label>
                  <input type="text" name="name" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-4">
                  <label for="name" class="font-weight-bold text-dark">Correo electronico</label>
                  <input type="text" name="name" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-4">
                  <label for="name" class="font-weight-bold text-dark">Fecha de nacimiento</label>
                  <input type="date" name="name" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-4">
                  <label for="name" class="font-weight-bold text-dark">RUC</label>
                  <input type="text" name="name" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-4">
                  <label for="name" class="font-weight-bold text-dark">Documento de identidad</label>
                  <input type="text" name="name" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-4">
                  <label for="name" class="font-weight-bold text-dark">Contrase&ntilde;a</label>
                  <input type="text" name="name" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-2">
                  <label for="name" class="font-weight-bold text-dark">Pais</label>
                  <select class="form-control" name="" id="">
                    <option value="default ">Country</option>
                    <option value="country"></option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="name" class="font-weight-bold text-dark">Ciudad</label>
                  <select class="form-control" name="" id="">
                    <option class="form-control" value="default">city</option>
                    <option class="form-control" value="country"></option>
                  </select>
                </div>
                <div class="form-group col-md-8">
                  <label for="name" class="font-weight-bold text-dark">Domicilio</label>
                  <input type="text" name="name" class="form-control" placeholder="">
                </div>
              </div>
              <div class="row">
                <div class="col col-md-4 col-sm-12 bg-light">
                  <div class="media border-bottom mb-5  pb-2 pt-4">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked="">
                      <label class="form-check-label" for="exampleRadios1">
                      </label>
                    </div>
                    <div class="media-body pl-0 pr-0">
                      <h5 class="mt-0">Person juridica</h5>
                      Necesito solo facturación
                    </div>
                  </div>
                  <div class="media ">
                    <div class="input-group">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                          value="option1" checked="">
                        <label class="form-check-label" for="exampleRadios1">
                        </label>
                      </div>
                      <div class="media-body pb-2">
                        <h5 class="mt-0">Person Natural</h5>
                        Necesito solo Recibo
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col  col-md-4 col-sm-12  mt-sm-4">

                </div>
                <div class="col col-md-4 col-sm-12 mt-sm-4">
                  <form action="/file-upload" class="dropzone dz-clickable" id="an-other-form-element">
                    <div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to
                        upload</button></div>
                  </form>
                </div>
              </div>
              <div class="row mx-lg-n5 mt-5">
                <div class="col py-3 ml-5 px-lg-5">
                  <button class="btn btn-block btn-to_buy pl-5 pr-5 text-light rounded-pill">Guardar
                    cambios</button>
                </div>
                <div class="col py-3 px-lg-5">
                  <button class="btn btn-block btn-outline-primary pl-5 pr-5 rounded-pill ">cambiar
                    contrase&ntilde;a</button></div>
              </div>
          </div>
          </form>
        </div>
      </div>
      <div class="col-sm-3">
        <img src="" alt="">
      </div>
    </div>

  </div>
  <!-- end row -->
  </div>
  <!-- end container -->
  <script src="./src/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="./assets/js/app.js"></script>
</body>

</html>